@import "../scss/variables";

.navbar-ct {
    // left: 0;
    // right: 0;
    // top: 0;
    // margin: 0 auto;
    position: fixed;
    z-index: 98;
    width: 100%;
    // height: 51px;
    background: $white;
    // border: solid 1px rgba(25, 34, 48,0.2);
    // @include screen;

    .navbar-ct-center {
        margin: 0 auto;
        padding: 0 30px;

        @media (max-width: $Medium) {
            padding: 0;
        }

        @media (max-width: $Small) {
            padding: 0 10px;
        }

        @include screen;
    }
}



.section-ct-navbar {
    height: 50px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    // position: fixed;
    width: 100%;
    // z-index: 98;
    background-color: $white;
    // border: solid 1px rgba(25, 34, 48,0.2);
    // left: 0;
    // right: 0;
    // top: 0;

    .navbar-logo,
    .navbar-signed,
    .navbar-unsigned {
        flex-shrink: 0;
    }

    .navbar-logo {
        // margin-left: 10px;

        img {
            height: 24px;
            margin: -10px 6px 0 0;
        }
    }

    .navbar-logo > span {
        font-size: 24px;
        color: $clearSky;
    }

    .navbar-signed {
        line-height: 38px;
        flex-wrap: nowrap;

        .signed-text {
            color: $midNight;
        }

        // .signed-arrowdown,
        .signed-avatar,
        .signed-text {
            @media (min-width: $Medium) {
                margin-right: 12px;
            }
        }

        .signed-text {
            @media (max-width: $mediaDesktop) {
                display: none !important;
            }
        }

        .signed-arrowdown {
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 6px solid $midNight;

            @media (max-width: $mediaDesktop) {
                display: none !important;
            }
        }
    }

    .navbar-signed:hover {
        cursor: pointer;
    }

    .navbar-unsigned {
        margin-right: 10px;
        flex-wrap: nowrap;

        > a {
            color: $midNight;
            padding: 5px 25px;
            display: inline-block;
        }
    }
}

.navbar-scroll-over {
    .navbar-unsigned .navbar-unsigned-signup {
        border: 1px solid $midNight !important;
        border-radius: 20px;
    }
}

.section-ct-link {
    color: $white !important;
    height: 50px;
    background-color: $darkSky;
    font-size: 16px;
    line-height: 50px;
    overflow: hidden;
    // position: fixed;
    width: 100%;
    top: 50px;
    // z-index: 98;

    > ul {
        margin: 0 0 0 -10px;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: auto;

        > li {
            padding-right: 40px;
            // padding: 0 25px;

            .eclass-hand-ct {
                transition: opacity .25s ease-in-out;
                min-width: 132px;

                img {
                    margin-top: -3px;
                    height: 24px;
                    opacity: 0.5;
                }

                a {
                    font-weight: bold;
                    padding-left: 10px;
                }
            }
            .eclass-hand-ct:hover {
                opacity: 1.0;

                img {
                    opacity: 1.0;
                    animation-name: bounce;
                    animation-iteration-count: infinite;
                    animation-duration: 2s;
                }

                @keyframes bounce
                {
                    25% { transform: translateY(-5px); }
                    50% { transform: translateY(0px); }
                    75% { transform: translateY(-5px); }
                    100% { transform: translateY(0px); }
                }
            }
        }

        > li a {
            font-weight: bold;
            opacity: 0.5;
            color: $white !important;
            text-decoration: none;
            white-space: nowrap;
        }

        > li:hover a {
            opacity: 1;
        }

        > li.active a,
        > li.active .eclass-hand-ct img,
        > li.active .eclass-hand-ct {
            opacity: 1;
        }
    }

    .section-ct-link:active {
        opacity: 1;
    }
}
